###########
# Eclipse #
###########

.classpath
.project
.settings/*

####################
# Class generation #
####################

target/*
src/main/generated-sources/*

#####################
# Generated javadoc #
#####################

src/main/javadoc/*
